[bumpversion]
current_version = 0.1.0
commit = False
tag = False

[bumpversion:part:release]
values = 
	alpha
	beta

[bumpversion:file:VERSION]

[bumpversion:file:{{cookiecutter.package_name}}/version.py]
